
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.navbar-default {
  background-color: #1f1f1f;
  border: none;
  // padding: 5px;
}

.navbar-default .navbar-brand {
  padding: 0;
  height: auto;
}


.navbar-default .navbar-brand img {
  padding: 15px;
  position: relative;
  top: 2px;
}

.navbar-default .navbar-nav > li > a {
  color: #999;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 24px;
  text-align: right;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  padding: 24px;
  text-align: right;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #8B0000;
    font-weight: bold;
}

.navbar-default .navbar-toggle {
  border-color: #444;
  margin: 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.card .panel {
  border-color: #222;
  border: none;
  border-radius: 0;
}

.card .panel-heading {
  max-height: 200px;
  overflow: hidden;
  padding: 0;
  border-radius: 0;
  border-bottom: none;
  text-align: center;
}

.card .panel-body {
  border-top: none;
}

.card .card-title {
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 5px;
  font-weight: bold;
  line-height: 140%;
}

.card p {
  font-size: 90%;
}

.card-title a{
  color: #d50000;
  text-decoration: none;
}

.card-title a:hover {
  color: #333;
}

.card-img-top {
  width: 100%;
}

.card a.btn {
  margin-bottom: 5px;
}

/* TEAM PAGE */

.profile .title-name {
  font-weight: bold;
  letter-spacing: 1px;
}

.profile-bg {
  min-height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.profile-logo {
  position: absolute;
  bottom: 0;
  padding: 0;
}

.profile-logo img {
  max-width: 100%;
  max-height: 300px;
  margin-top: -50%;
}
