// Settings
// @import "settings";

// Foundation
// @import "node_modules/foundation-sites/scss/foundation";

// Include Everything (True) for the Flex Grid :);
// @include foundation-everything(true);

// @import "node_modules/vue-material/dist/vue-material.css";

@import "~vue-material/dist/vue-material";
@import "~vue-material/dist/theme/mixins";
@import "~vue-material/src/components/MdLayout/mixins";
// @import "~vue-material/dist/theme/default-dark";

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(grey, 900), // The primary color of your application
  accent: md-get-palette-color(pink, 500), // The accent or secondary color
  theme: light
));

@import "~vue-material/dist/theme/all"; // Apply the theme

body {
  // background: #fafafa;
}

.md-content.md-theme-default {
  background: #f5f8fa;
}

.md-toolbar-section-end > button {
  @include md-layout-small-and-up {
    display: none;
  }
}

.md-toolbar .md-toolbar-offset {
  @include md-layout-medium-and-up {
    // margin-left: 0;
  }
}

#logo-title {
  color: #fff;
  font-weight: 500;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #000;
  margin-left: 8px;

  a {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    &:hover {
      text-decoration: none;
    }
  }

  @include md-layout-medium-and-up {
    margin-left: 0;
  }

  span {
    color: #bf383a;
  }
}

#default-page {
  min-height: 800px;
}
